.parent{
    width: 1000px;
    height: 400px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 auto;
}
.parent>div{
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}
.parent>div:not(:last-child)::after{
    content: "";
    background: #333;
    /*如果出现一条线太重，把背景颜色改为边框线*/
    /*border-right:1px solid #333;*/
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
}