@for $i from 1 to 13 {
    .col-#{$i}{
        width: 100%/12*$i;
    }
}
@media (min-width:768px) and (max-width:992px){
    @for $i from 1 to 13 {
        .col-sm-#{$i}{
            width: 100%/12*$i;
        } 
    }
}
@media (min-width:0) and (max-width:768px){
    @for $i from 1 to 13 {
        .col-xs-#{$i}{
            width: 100%/12*$i;
        } 
    }
}

//@import 引入其他css文件
@import "base.scss";