//定义了公共的css
@mixin wh($w:100px,$h:100px){
    width: $w;
    height: $h;
}
.one{
    @include wh;
    background: red;
}
.two{
    @include wh(200px,200px);
    background:yellow;
}

//@extend实现继承
.head{
    width: 100px;
    height: 100px;
    background: rgb(52, 184, 236);
    color: black;
}
.foot{
    @extend .head;
}